.page_main {
    margin:0;
    padding:0;
    background: url('../images/hero.jpeg') no-repeat $color-white;
    background-position: 67% 0%;
    background-size: cover;
    height: 100vh;
    display:flex;
    align-items: center;

}
.main_title {
    margin: 129px 20px;
    width:161px ;
    color:$color-white;
    font-size: 30px;
    font-family: 'Rubik', sans-serif;
    text-transform: capitalize;
    font-weight: bold;
    line-height: normal;  
   
}
    

@media all and (min-width:768px){
    .page_main{
        background-position: 63% 0%;
    }
    
    .main_title {
        font-size: 60px;
        width: 322px;
        margin: 311px 30px;
        height: 213px;
    }
    .main_container {
        width: 322px;
        height: 213px;
    }
}
@media all and (min-width: 1024px){
    .main_title{
        margin:311px 50px;
    }
    .page_main{
        background-position: 75% 100%;
    }
    
}

