.page_main {
    background: url('../images/hero.jpeg') no-repeat $color-white;
    background-position: 67% 0%;
    background-size: cover;
    height: 100vh;
    
}
.main_container {
    width:161px ;
    height:108px;
}
.main_title {
    color:$color-white;
    font-size: 30px;
    font-family: 'Rubik', sans-serif;
    text-transform: capitalize;
    font-weight: bold;
    line-height: normal; 
    //padding: 129px 139px 129px 20px; 
}
@media all and (min-width:768px){
    .page_main{
        background-position: 63% 0%;
    }
    
    .main_title {
        font-size: 60px;
        //padding: 311px 416px 310px 30px;
    }
    .main_container {
        width: 322px;
        height: 213px;
    }
}
@media all and (min-width: 1024px){
    .main_title{
        //padding: 311px 652px 310px 50px;
    }
    .page_main{
        background-position: 75% 100%;
    }
    
}

